.container {
    width: 100%;
    
}




header, footer {
    padding: 1em;
    color: gold;
    background-color: black;
    clear: left;
    text-align: center;
    margin: 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

        nav ul a {
            text-decoration: none;
        }

article {
    border-left: 5px solid gray;
    border-right: 5px solid gray;
    padding: 1em;
    overflow: hidden;
}
